name: Syntax and style checking
on:
  push:
    paths-ignore:
      - "*.md"

jobs:
  check_syntax:
    name: Luacheck
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Prepare
        run: |
          sudo apt update
          sudo apt install luarocks
          sudo luarocks install luacheck

      - name: Lint
        run: make lint

  check_style:
    name: Stylua
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Create cache key
        run: echo "stylua" > dependencies
      - name: Restore cargo dependencies cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
          key: ${{ runner.os }}-cargo-${{ hashFiles('dependencies') }}

      - name: Prepare
        run: |
          sudo apt update
          sudo apt install cargo
          cargo install stylua

      - name: Check formatting
        run: make format_check
